extends layout-mem

block content
  #banner.page-header
    .row
      .col-lg-12
        h1= title
  .row
    .col-xs-12.col-sm-12
      .row.list-group
        table(border="1", style="border-collapse: collapse; width: 800px")
          tr(style="background-color: #cccccc")
            th 注文番号
            th ゴルフ場
            th 売り値(Gコイン)
            th 売り注文受付日
            th 買い注文受付日
            th 譲渡完了日
          each odr in memOdrs
            tr
              td= odr.id
              td= odr.course
              td= odr.sellPrice
              td= odr.sellDate
              - if(!odr.buyDate){
                td: a(href="/mem/place_buyOdr?memOdrId="+odr.id) *
              - } else { 
                td= odr.buyDate
              - }
              - if((odr.buyDate)&&(!odr.transferDate)){
                td *
              - } else {
                td= odr.transferDate
              - }

