extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Process Gcoin Request
  .row
    .col-xs-12.col-md-12
      form.form-horizontal(action="", method="post", role="form")
        .form-group
          label.col-xs-12.col-sm-12(for="gcoinReq").lef 申込内容
          .col-xs-12.col-sm-12
            ul#gcoinReq
              li 申込番号： #{id}
              li 依頼者： #{requester}
              li 金融機関： #{bank}
              li 売買： #{sellOrBuy}
              li Gコイン額： #{gcoinAmount}
              li 売買申込受付日： #{requestedDate}
        .form-group
          .col-xs-12.col-sm-8
            button.btn.btn-default.pull-right 承認
    .col-xs-12.col-md-12
